<div class="container">
    <h2 class="title">
        Reset Password
    </h2>
    <p>
        You requested to reset your Password, right ?
        <a style="color: hsl(348, 100%, 61%); text-decoration: none; display: block;" href='http://localhost:5000/reset-password/<%= token %>'>
            Click to reset
        </a>

    </p>
    <p>
        You just have one hour !
    </p>
</div>