<%- include('../includes/header') %>
<%- include('../includes/navbar1') %> 



<div class="container"style="max-width: 80%">
    <div class="has-text-centered">
        <strong class="has-text-danger">
            <p style="margin: 18%;"class="is-size-5">
                    Page Not Found    
            </p>
        </strong>
    </div>
</div>

<%- include('../includes/footerWithoutCopyrights') %> 